// Define your color variables
$color-primary: var(--col2);
$color-white: white;
$color-secondary: var(--col2);

// Define a mixin for media queries
@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

nav {
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  img {
    height: 30px;
    margin-right: 10px;
  }

  .left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .searchbox {
    display: flex;
    align-items: center;
    background-color: $color-white;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    width: 40vw; // Consider using a responsive width unit

    .searchbtn {
      margin-right: 5px;
      font-size: 1.2rem;
      color: $color-secondary;
    }

    input[type="text"] {
      border: none;
      outline: none;
      background: none;
    }
  }

  .shorttext {
    display: none;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .theme_icon1 {
      font-size: 1.5rem;
    }

    .dropdown {
      display: flex;
      align-items: center;
      margin: 0px 20px;
      cursor: pointer;
    }

    .dropicon {
      font-size: 20px;
    }
  }

  // Use the mixin for your media queries
  @include respond-to(600px) {
    .right {
      width: 50vw;
    }

    .left {
      width: 30vw;
    }

    .searchbox {
      width: 20vw;

      input {
        font-size: 12px;
      }

      .largetext {
        display: none;
      }

      .shorttext {
        display: inline-block;
      }
    }
  }
}
