nav {
    background-color: var(--col2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  
  .left {
    display: flex;
    align-items: center;
  }
  nav img{
    height: 30px;
    margin-right: 10px;
  }
  .searchbox {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    width: 500px;
   
  }
  
  .searchbtn {
    margin-right: 5px;
    font-size: 1.2rem;
    color: var(--col2);
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    background: none;
  }

  .right {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    /* Rest of your styling */
    margin-bottom: 0; /* This is to align with the button if necessary */
  }
  
  .theme_btn1.linkstylenone {
    /* Rest of your styling */
    margin-top: 0; /* Adjust this as necessary to align with the dropdown */
  }
  
  /* Ensure there's no extra margin on the top and bottom for the dropdown and button */
  .dropdown, .theme_btn1.linkstylenone {
    margin-top: 0;
    margin-bottom: 0;
  }
  